@model IEnumerable<Ateliex.Modules.Cadastro.Modelos.Modelo>

@{
    ViewData["Title"] = $"Cadastro - Modelos";

    var parent = (string?)ViewData["Parent"];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Cadastro" asp-controller="Home" asp-action="Index">Cadastro</a></li>
        <li class="breadcrumb-item">Modelos</li>
    </ol>
</nav>

<section>
    <h1>Cadastro de Modelos</h1>

    <div class="container">
        <p>
            <a asp-action="Create">Criar Novo<i class="bi bi-plus-circle"></i></a>
        </p>

        <div class="row table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.CodigoDeModelo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustoDeProducao)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                <a asp-area="Cadastro" asp-controller="Modelo" asp-action="Details" asp-route-id="@item.CodigoDeModelo"><i class="bi bi-link-45deg"></i></a>
                                <a asp-area="Cadastro" asp-controller="Modelo" asp-action="Edit" asp-route-id="@item.CodigoDeModelo" asp-route-parent="@parent"><i class="bi bi-pencil"></i></a>
                                <a asp-area="Cadastro" asp-controller="Modelo" asp-action="Delete" asp-route-id="@item.CodigoDeModelo" asp-route-parent="@parent" class="link-danger"><i class="bi bi-trash"></i></a>
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.CodigoDeModelo)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustoDeProducao)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>